@charset "utf-8";

/* Defaults for HTML tags to override user-agent settings
-------------------------------------------------------------- */
body, div, h1, h2, h3, h4, h5, h6, p {
	font-family: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;
	background: transparent;
	border: 0;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}
a {
	color: inherit;
	text-decoration: none;
}
a:hover {
	color: blue;
}
body {
    color:  #222;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
code {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}
h1, h2, h3, h4, h5, h6 {
	clear: both;
}
h1 {
    font-size: 2em;
    margin: 25px 0 6px 0;
}
h2 {
    font-size: 1.6em;
    margin: 20px 0 6px 0;
}
h3 {
    font-size: 1.4em;
    margin: 15px 0 6px 0;
}
h4 {
    font-size: 1.2em;
    margin: 12px 0 4px 0;
}
h5 {
    font-size: 1em;
    margin: 8px 0 4px 0;
}
h6 {
    font-size: 0.8em;
    margin-bottom: 8px;
}
img {
	background: transparent;
	border: none;
	vertical-align: middle;
}
ul, ol {
    padding-inline-start: 10px;
    margin: 0;
}
li {
    margin: 5px 10px 5px 20px;
}
ol li ol li {
    list-style-type: lower-alpha;
}
ol li ol li ol li {
    list-style-type: lower-roman;
}
li p {
    margin: 5px 0;
}
p {
    margin: 10px 0;
}
table {
    border: 1px solid #777;
    border-collapse: collapse;
    margin: 15px 0px;
    width: 100%;
}
tr {
    background-color: #fff;
}
td, th {
    border: 1px solid #777;
    padding: 4px 8px;
    text-align: left;
}
th {
    background-color: #ddd;
    font-weight: bold;
}
/* General classes
-------------------------------------------------------------- */
.background {
    background-color: #eee;
}
.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.last-updated {
    color: #666;
    font-size: 0.9em;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 0px;
}
.last-updated time {   
    color: #555;
    font-style: italic;
    font-weight: normal;
}

/* ID selectors for main page layout
-------------------------------------------------------------- */
#header{
    padding: 10px;
    position: fixed;
}
#main {
    margin-top: 60px;   /* Compensate for fixed header */
    padding: 20px;
}
#header, #footer {
    background-color: #ddd;
    border-top: 1px solid #666;
    border-bottom: 1px solid #666;
    box-sizing: border-box;
    width: 100%;
}

/* Branding (top section of each page)
-------------------------------------------------------------- */
#branding {
    display: flex;
    align-items: center;
}
#site-title {
    font-size: 2em;
	font-weight: bold;
    margin: 0px 10px;
    white-space: nowrap;
}
#site-description {
    font-size: 1em;
	font-style: italic;
	margin-left: auto;
    white-space: nowrap;
}

/* Site navigation menu
-------------------------------------------------------------- */

#access a {
    display: block;
    white-space: nowrap;
}
#access a img {
    margin-right: 6px;
}
#access ul {
    list-style: none;
    padding-left: 0;
}
#access li {
	border-radius: 2px;
	border-top: 1px solid #999;
	border-left: 1px solid #999;
	border-bottom: 1px solid #333;
	border-right: 1px solid #333;
    background-color: #fff;
    display: block;
    float: left;
    line-height: 40px;
    margin: 0px;
    padding: 0px 6px;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;
}
#access li.current-menu-item {
    background: rgb(220, 251, 255);
    color:  #666;
    font-weight: bold;
}
#access li:hover,
#access li:focus-within {
    background: rgb(172, 243, 255);
    cursor: pointer;
}
#access ul li ul {
  visibility: hidden;
  opacity: 0;
  min-width: 5rem;
  position: absolute;
  transition: all 0.5s ease;
  left: 0;
  display: none;
}
#access ul li:hover > ul,
#access ul li:focus-within > ul,
#access ul li ul:hover,
#access ul li ul:focus {
   visibility: visible;
   opacity: 1;
   display: block;
}
#access ul li ul li {
  clear: both;
  width: 100%;
}
#access li.no-padding {
    border-radius: 6px;
    line-height: normal;
    padding: 0;
    margin: 0;
}

/* Content
-------------------------------------------------------------- */
#main {
	clear: both;
    flex-grow: 1;
}
#container {
    display: flex;
    justify-content: center;
    width: 100%;
}
#content {
	padding: 10px 40px 30px 40px;
}
#content ul,
#content ol,
#content dd,
#content pre,
#content hr {
	margin-bottom: 10px;
}
#content ul ul,
#content ol ol,
#content ul ol,
#content ol ul {
	margin-bottom: 0;
}

.entry-content {
	clear: both;
}
.entry-content p img {
	padding: 0 6px 0 0;
}

/* Footer
-------------------------------------------------------------- */
#footer {
	clear: both;
    display: flex;
    padding: 10px 8px;
}
#footer ul {
    color: #222;
    font-size: 0.8em;
    font-weight: bold;
    list-style-type: none;
}
#footer li {
    font-weight: normal;
    margin: 5px 10px;
}
#footer .policies {
    margin-right: auto;
}
#site-info {
	font-size: 0.8em;
	font-weight: bold;
}
#copyright {
    display: inline-block;
    font-size: 0.8em;
    line-height: 1.4em;
    margin-left: 10px;
    text-align: center;
}

/* IceBerg pages
-------------------------------------------------------------- */
.iceberg-bg {
	background: url('IceBerg/images/iceberg-icon-960.png') center no-repeat;
    background-attachment: fixed;
}

.transparent-document-paper {
    background-color: rgba(255, 255, 255, 0.85);
    outline: 4px ridge #aaa;
    border-radius: 10px;
    max-width: 800px;
}