@charset "utf-8";

/* Defaults for HTML tags to override user-agent settings
-------------------------------------------------------------- */
body, div, h1, h2, h3, h4, h5, h6, p {
	font-family: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;
	background: transparent;
	border: 0;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}
a {
	color: inherit;
	text-decoration: none;
}
a:hover {
	color: blue;
}
body {
    color:  #222;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
code {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}
h1, h2, h3, h4, h5, h6 {
	clear: both;
}
h1 {
    font-size: 2em;
    margin: 25px 0 6px 0;
}
h2 {
    font-size: 1.6em;
    margin: 20px 0 6px 0;
}
h3 {
    font-size: 1.4em;
    margin: 15px 0 6px 0;
}
h4 {
    font-size: 1.2em;
    margin: 12px 0 4px 0;
}
h5 {
    font-size: 1em;
    margin: 8px 0 4px 0;
}
h6 {
    font-size: 0.8em;
    margin-bottom: 8px;
}
img {
	background: transparent;
	border: none;
	vertical-align: middle;
}
ul, ol {
    padding-inline-start: 10px;
    margin: 0;
}
li {
    margin: 5px 10px 5px 20px;
}
ol li ol li {
    list-style-type: lower-alpha;
}
ol li ol li ol li {
    list-style-type: lower-roman;
}
li p {
    margin: 5px 0;
}
p {
    margin: 5px 0;
}
table {
    border: 1px solid #777;
    border-collapse: collapse;
    margin: 15px 0px;
    width: 100%;
}
tr {
    background-color: #fff;
}
td, th {
    border: 1px solid #777;
    padding: 4px 8px;
    text-align: left;
}
th {
    background-color: #ddd;
    font-weight: bold;
}
/* General classes
-------------------------------------------------------------- */
.background {
    background-color: rgb(255, 254, 249); /* #eeffff; */
}
.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.hidden-anchor {
    display: block;
    position: relative;
    top: -65px;             /* Height of fixed header plus a skosh */
    visibility: hidden;
}
.last-updated {
    color: #666;
    font-size: 0.9em;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 0px;
}
.last-updated time {   
    color: #555;
    font-style: italic;
    font-weight: normal;
}

/* ID selectors for main page layout
-------------------------------------------------------------- */
#header{
    padding: 10px;
    position: fixed;
    z-index: 1000;
}
#main {
    margin-top: 60px;   /* Compensate for fixed header */
    padding: 20px;
}
#header, #footer {
    background-color: #ddd;
    border-top: 1px solid #666;
    border-bottom: 1px solid #666;
    box-sizing: border-box;
    width: 100%;
}

/* Branding (top section of each page)
-------------------------------------------------------------- */
#branding {
    display: flex;
    align-items: center;
}
#site-title {
    font-size: 2em;
	font-weight: bold;
    margin-left: 10px;
    white-space: nowrap;
}
#site-description {
    font-size: 1em;
	font-style: italic;
	margin-left: auto;
    margin-right: auto;
    white-space: nowrap;
}
.logo-link:hover {
    filter: invert(9%) sepia(94%) saturate(6958%) hue-rotate(247deg) brightness(90%) contrast(146%);
}

/* Site navigation menu
-------------------------------------------------------------- */

#access a {
    display: block;
    white-space: nowrap;
}
#access a img {
    margin-right: 6px;
}
#access ul {
    list-style: none;
    padding-left: 0;
}
#access li {
    box-sizing: border-box;
    display: block;
    float: right;
    line-height: 40px;
    margin: 0px;
    padding: 0px 6px;
    position: relative;
    text-decoration: none;
    transition: all .4s ease;
}
#access li:hover,
#access li:focus-within {
    background: rgb(172, 243, 255);
    cursor: pointer;
}
#access li.current-menu-item {
    background: rgb(220, 251, 255);
    color:  #666;
    font-weight: bold;
}
#access ul li ul {
    visibility: hidden;
    opacity: 0;
    min-width: 5rem;
    position: absolute;
    right: 0;
    left: auto;
    display: none;
    border: 1px solid #666;
}
#access ul li:hover > ul,
#access ul li:focus-within > ul,
#access ul li ul:hover,
#access ul li ul:focus {
    visibility: visible;
    opacity: 1;
    display: block;
}
#access ul li ul li {
    background-color: #fff;
    border-bottom: #aaa 1px solid;
    border-right: #aaa 1px solid;
    box-sizing: border-box;
    clear: both;
    width: 100%;
}
#access li.no-padding {
    line-height: normal;
    padding: 0;
    margin: 0;
    transition-duration: .1s;
}

/* Content
-------------------------------------------------------------- */
#main {
	clear: both;
    flex-grow: 1;
}
#container {
    display: flex;
    justify-content: center;
    width: 100%;
}
#content {
	padding: 10px 40px 30px 40px;
    max-width: 800px;
}
#content ul,
#content ol,
#content dd,
#content pre,
#content hr {
	margin-bottom: 10px;
}
#content ul ul,
#content ol ol,
#content ul ol,
#content ol ul {
	margin-bottom: 0;
}

.entry-content {
	clear: both;
}
.entry-content p img {
	padding: 0 6px 0 0;
}
.background-home {
    background-image: url('main/images/home.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%;
}
/* Footer
-------------------------------------------------------------- */
#footer {
	clear: both;
    display: flex;
    font-size: 0.8em;
    line-height: 1.4em;
    padding: 8px 8px;
}
#footer summary {
    cursor: pointer;
    font-weight: bold;
}
#footer ul {
    color: #222;
    font-weight: bold;
    list-style-type: none;
}
#footer li {
    font-weight: normal;
    margin: 3px 10px;
}
#footer .policies {
    margin-right: auto;
    vertical-align: middle;
}
#site-info {
	font-size: 0.8em;
	font-weight: bold;
}
#copyright {
    display: inline-block;
    margin-left: 10px;
    text-align: right;
}

/* IceBerg pages
-------------------------------------------------------------- */
.iceberg-bg {
	background: url('IceBerg/images/iceberg-icon-960.png') center no-repeat;
    background-attachment: fixed;
}
.subprocessor-card {
    display: flex;
    flex-direction: column;
    background-color: rgb(244, 251, 255);
    outline: 2px ridge #aaa;
    border-radius: 8px;
    margin: 20px 0px;
    padding-bottom: 15px;
    /* These lines are required to make the ::before pseudo-element work */
    position: relative;
    z-index: 1; 
}
.subprocessor-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
	background-image: url('main/images/paper-texture.jpg');
    background-attachment: scroll;
    background-position: center;
    filter: opacity(35%);   /* Soften and lighten the background image */
    z-index: -1;            /* Avoid applying the filter to child elements */
}
.subprocessor-header {
    align-items: center;
    display: flex;
    clear: both;
    padding-bottom: 15px;
    width: 100%;
    background-image: linear-gradient(to right, transparent, #222, transparent);
    background-repeat: no-repeat;
    background-position: bottom center; /* Position at the bottom */
    background-size: 100% 1px;
}
.subprocessor-title {
    font-size: 1.4em;
    font-weight: bold;
    margin: 0px 10px;
}
.subprocessor-section {
    margin: 15px 15px 0px 15px;
}
.subprocessor-label {
    font-weight: bold;
    margin: 0px 0px 5px 0px;
}
.subprocessor-value {
    margin: 5px 0px 0px 0px;
}
.transparent-document-paper {
    background-color: rgba(255, 255, 255, 0.85);
    outline: 4px ridge #aaa;
    border-radius: 10px;
    max-width: 800px;
}