@charset "utf-8";

/* Defaults for HTML tags to override user-agent settings
-------------------------------------------------------------- */
body, div, h1, h2, h3, h4, h5, h6, p, ul, ol, li {
	color: #222;
	font-family: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;
	background: transparent;
	border: 0;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}
code {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}
a {
	color: inherit;
	text-decoration: none;
}
a:hover {
	color: blue;
}
body {
	margin: 0 40px;
	font-size: 12px;
	line-height: 18px;
}
h1, h2, h3, h4, h5, h6 {
	clear: both;
}
h1 {
    font-size: 1.6em;
    margin: 25px 0 5px 0;
}
h2 {
    font-size: 1.4em;
    margin: 15px 0 5px 0;
}
img {
	background: transparent;
	border: none;
	vertical-align: middle;
}

/* General classes
-------------------------------------------------------------- */
.background {
	background: url('images/bg-light-gray.jpg');
}
.last-updated {
    color: #666;
    font-size: 0.9em;
    font-weight: bold;
}
.last-updated time {   
    color: #555;
    font-style: italic;
    font-weight: normal;
}

/* ID selectors
-------------------------------------------------------------- */
#header, #main, #footer {
	width: 100%;
}
#branding {
	line-height: 40px;
}
#site-title {
	float: left;
	margin: 0px;
	vertical-align: middle;
}
#site-title a {
	font-weight: bold;
}
#site-description {
	clear: right;
	float: right;
	font-family: Georgia, "Bitstream Charter", serif;
	font-style: italic;
	vertical-align: middle;
	-webkit-text-size-adjust: none;
}

/* Site navigation menu
-------------------------------------------------------------- */
#access {
	display: block;
	margin: 0 auto;
	width: 100%;
}
#access a {
	color: #fff;
	display: block;
	line-height: 50px;
	padding: 0 10px;
	text-decoration: none;
}
#access .nav-page > a {
	font-weight: normal;
}
#access a:hover {
	color: #8ef;
}
#access .nav-page-current > a {
	font-weight: bold;
}
#access div.menu {
	background-color: #aaa;
	border-top: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #777;
	border-left: 1px solid #777;
	border-radius: 8px;
	display: inline-block;
	font-size: 16px;
	vertical-align: middle;
	width: 100%;
}
#access div.menu ul {
	list-style: none;
	margin: 0;
	padding-right: 8px;
}
#access div.menu li {
	border-radius: 8px;
	border-top: 1px solid #999;
	border-right: 1px solid #999;
	border-bottom: 1px solid #333;
	border-left: 1px solid #333;
	float: left;
	position: relative;
	margin: 8px 0 8px 8px;
	padding-right: 4px;
}
#access div.menu li.nav-page:hover {
	background-color: #666;
}
#access div.menu li.nav-page {
	background-color: #777;
}
#access div.menu li.nav-page-current {
	background-color: #555;
}
#access div.menu li img {
	margin-right: 4px;
}

/* Content
-------------------------------------------------------------- */
#main {
	clear: both;
	overflow: hidden;
}
#container {
	float: left;
	margin: 0 0 0 0;
	width: 100%;
}
#content {
	font-size: 16px;
	line-height: 24px;
	margin: 0 20px;
}
#content p,
#content ul,
#content ol,
#content dd,
#content pre,
#content hr {
	margin-bottom: 12px;
}
#content ul ul,
#content ol ol,
#content ul ol,
#content ol ul {
	margin-bottom: 0;
}
#content li {
    margin-left: 20px;
    margin-right: 20px;
}

.entry-content {
	clear: both;
}
.entry-content p img {
	padding: 0 6px 0 0;
}

/* Footer
-------------------------------------------------------------- */
#footer {
	border-top: 2px solid #000;
	clear: both;
	width: 100%;
}
#colophon {
	overflow: hidden;
	padding: 10px 0;
}
#site-info {
	float: left;
	font-size: 14px;
	font-weight: bold;
}
